.body {
    margin: 0;
    font-size:  18px;
    text-align: center;
    padding: 24px;
    color: snow;
}

.hlavicka {
    background-color: #415a77;

}

.hlavicka a {
    color: snow;
}

.sekce1 {
    background-color: #778da9;
}

.o-mne img {
    border-radius: 2000px;
}

.vzdelani li {
    list-style: none;
  }

.prace li {
    list-style: none;
}

h1 {
    color: snow;
    font-family: "Roboto";
}

h2 {
    color: #415a77;
}

h3 {
    color: #415a77;
}